.container3 {
    width: 180px;
    height: 250px;
    grid-column: 2;
    grid-row: 3;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom, #FDEFD2 0%, #BFA189 100%, #ECCAAE, #FAEAD0);
    border-image-slice: 1;
    background-color: rgba(242,242,242,0.5270658605238971);
}