@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');

.container4 {
    width: 180px;
    height: 250px;
    grid-column: 1;
    grid-row: 4;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom, #FDEFD2 0%, #BFA189 100%, #ECCAAE, #FAEAD0);
    border-image-slice: 1;
    background-color: rgba(242,242,242,0.5270658605238971);
}

@media (min-width: 320px) and (max-width: 399px) {
    .container4 {
        width: 175px;
        height: 250px;
    }
}