@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');

.container5 {
    width: 280px;
    height: 200px;
    grid-column: -3 / -1;
    grid-row: 5;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom, #FDEFD2 0%, #BFA189 100%, #ECCAAE, #FAEAD0);
    border-image-slice: 1;
    background-color: rgba(242,242,242,0.5270658605238971);
}