.invitado {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.containerInvitado {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.checkInvitado {
    width: 12px;
    height: 12px;
    align-self: center;
}

.textInvitado {
    color: hsla(38, 61%, 55%);
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    align-self: center;
}

.containerSelect {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.labelAliment {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: hsla(38, 61%, 55%);
    padding-bottom: 10px;
}

.opcionesAliment {
    height: 20px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.opcionesAliment option {
    height: 10px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.sectionConfirmaAsistencia {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.botonConfirmaAsistencia {
    width: 100px;
    height: 20px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: hsla(38, 61%, 45%);
    background-color: #F1D2A2;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
}

.textoConfirmacion {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    color: hsla(38, 61%, 55%);
    margin: 10px 0px;
}

.listConfirmacion {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: hsla(38, 61%, 55%);
    text-align: center;
}

.listConfirmacion li {
    font-size: 1rem;
}