.invitado {
    display: flex;
    flex-direction: column;
}

.sectionConfirmaAsistencia {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.botonConfirmaAsistencia {
    width: 100px;
    height: 20px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: hsla(38, 61%, 45%);
    background-color: #F1D2A2;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
}

.textoConfirmacion {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    color: hsla(38, 61%, 55%);
    margin: 10px 0px;
}