* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.App {
  background-image: url("./assets/Fondo.jpg");
  background-color: #FFFF;
  background-repeat: no-repeat;
  background-size: cover;
}

.reloj {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.containerComponentes {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 20px;
  justify-content: center;
  place-items: center;
}


@media (min-width: 320px) and (max-width: 767px) {
  .App {
    background-image: url("./assets/Fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 320px) and (max-width: 399px) {
  .containerComponentes {
    grid-gap: 10px;
  } 
}